@media (max-width:1200px) {
    .case-studies-content {
        width: 100%;
      flex-direction: column;
    }
    .case-studies-container{
        flex-direction: column;
      }
  }

/* Responsive Design */
@media (min-width: 991px) {
  
    .where-creativity {
      padding: 80px 40px; /* Adjusted padding for tablets */
    }
  
    .techno-content {
      flex-direction: row; /* Side-by-side layout for tablets and larger screens */
      padding: 0 40px; /* Adjusted padding for tablets */
      margin-bottom: 80px; /* Adjusted margin for tablets */
    }
  
    .techno-content .overlay-content {
      width: 50%; /* Half width for tablets and larger screens */
      height: 600px; /* Fixed height for tablets and larger screens */
       /* Adjusted padding for tablets */
      margin-bottom: 0; /* Remove margin between items */
    }
  
    .tool-icons {
      gap: 35px; /* Restore gap for tablets and larger screens */
      padding: 0 50px; /* Restore padding for tablets and larger screens */
    }
  
    .tool-icons img {
      width: 50px; /* Restore icon size for tablets and larger screens */
    }
  
    .overlay-content h1 {
      font-size: 33px; /* Restore font size for tablets and larger screens */
    }
  
    .overlay-text h2 {
      font-size: 30px; /* Restore font size for tablets and larger screens */
      margin-bottom: 20px; /* Restore margin for tablets and larger screens */
    }
  
    .overlay-text p {
      font-size: 20px; /* Restore font size for tablets and larger screens */
    }
  
    .overlay-text {
      
      text-align: left;
    }
  }
  
  @media (min-width: 1024px) {
    .where-creativity {
      padding: 80px 80px; /* Restore padding for desktops */
    }
  
    .techno-content {
      padding: 0 ; /* Restore padding for desktops */
      margin-bottom: 100px; /* Restore margin for desktops */
    }
  }

/* Responsive Design */
@media (max-width: 768px) {
  .creative-grid-content.two {
    align-items: flex-start !important;
    gap: 26px;
    padding-left: 40px !important;
}
.overlay-text {
  width: 80%;
  text-align: left;
}


    .services-grid {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
    }
  
    .section-title {
      font-size: 35px;
      text-align: left !important;
    }
  
    .service-title {
      font-size: 22px;
    }
  
    .service-description {
      font-size: 14px;
    }
    .creative-head {
        margin-bottom: 60px;
        text-align: left;
    }
    .service-content {
        text-align: left;
        padding: 25px;
        margin-bottom: 80px;
    }
    .featured-works {
      padding: 25px;
  }
  }

  /* Responsive Design */
@media (max-width: 768px) {
    .services-grid {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust for smaller screens */
      gap: 20px;
    }
  
    .section-title {
      font-size: 28px;
    }
  
    .service-title {
      font-size: 22px;
    }
  
    .service-description {
      font-size: 14px;
    }
  }

/* Responsive Design */
@media (max-width: 991px) {
    
  
    .counter-number {
      font-size: 60px;
    }
  
    .counter-label {
      font-size: 25px;
    }
   
    .counter-section {
     margin-top: 0;
      padding: 80px 10px;
     
    }
    .editors-logos {
      margin-left: 5%;
      width: 90%;
    }
    .logo-item {
      flex: 0 0 auto;
      margin-right: 0px;
  }
  }

  @media (max-width: 420px) {
    .counter-label {
        font-size: 21px;
    }
}

  @media (max-width: 600px) {
    .creative-head h2 {
      text-align: left;
      font-size: 35px !important;
    }
    .creative-head p{
      text-align: left;
    }
    .creative-para .creative-content{
      font-size: 25px;
    }
    h2.section-title.techno {
      text-align: left;
    }
    .how-we-help-section {
      padding: 80px 0px !important;
  }
  .tool-icons{
    justify-content: flex-start !important;
  }
  .techno-content{
    padding: 0 !important;
  }
  .where-creativity {
    padding:25px ;
  }
  .container.case-staudies{
    padding: 50px 25px !important;
  }
  section.section-contact {
      margin: 15px;
  }
}

  @media (max-width: 768px) {
    .logos-grid {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: 20px;
    }
  
    .section-title {
      font-size: 28px;
    }
   
  }

  @media (max-width:500px) {
    h1.hero-title.text-primary{
      font-size: 38px;
      
    }
      .container.flex.hero {
        justify-content: flex-start;
        padding: 90px 20px;
      
    }
    p.hero-description.text-secondary{
      text-align: left;
    }
    .creative-para .creative-content{
      font-size: 20px;
    }
  }

  @media (max-width:771px) {
    .container.header {
      padding: 0 20px;
  }
      h1.hero-title.text-primary{
        font-size: 39px;
        text-align: left;
      }
      .container.flex.hero {
        justify-content: flex-start;
        padding: 90px 50px;
        align-items: flex-start;
      
    }
    p.hero-description.text-secondary{
      text-align: left;
    }
  }
  @media (max-width:1022px) {
      h1.hero-title.text-primary{
        font-size: 50px;
        
      }    
  }

  @media (max-width:991px) {
    footer{
        flex-direction: column;
        margin: 120px 0 0 0px;
        padding: 20px;
        padding-top: 60px;
        border-radius: 0;
        padding-bottom: 80px;
    }
    .col-rt {
        flex-direction: column;
        width: 100%;
        padding-top: 50px;
        gap: 30px;
      }

      .col-lf h2{
        font-size: 30px;
        margin-top: 40px;
      }
      .copy-right{
        width: 100%;
        left: 0px;
        border-radius: 0;
      }
  }
  @media (min-width:1280px) {
    .container.header{
        padding: 0 70px;
    }
   
  }
  @media (max-width:1400px) {
    h1.company-name {
        left: 25%;
        font-size: 72px;
    }
  }
  @media (max-width:1200px) {
    h1.company-name {
        left: 20%;
        font-size: 72px;
    }
    .next-swiper {
      padding-right: 0;
      justify-content: center;
      
    }
  }
  @media (max-width:1100px) {
    h1.company-name {
        left: 20%;
        font-size: 65px;
        bottom: 17px;
    }
  }


  @media (max-width:991px) {
    .pt-3.pb-3.hero .bg-eye {
      display: none;
    }
    .counter-item {
      width: 100%;
      align-items: center;
      justify-content: center;
      padding-bottom: 20px;
   
    }
    .counters-grid {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    h1.company-name {
        display: none;
    }
    .case-staudies.contact.container {
      padding-top: 80px;
  }
  .next-swiper {
    padding-right: 0;
    justify-content: center;
    
  }
  .service-grid {
    display: flex;
    flex-direction: column;
  } 
  .grid-content.one1 {
    padding-top: 10%;
}
.grid-content.three3 {
  padding-top: 10%;
}
.grid-content{
  padding-top: 10%;
}
.creative-grid-container{
  display: flex;
  flex-direction: column;
}
.creative-grid-content.three{
  display: none;
}
.creative-grid-content.one .grid-three-content{
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 75px;
  font-size: 48px;
}
.creative-grid-content.one{
  display: flex;
  padding-top: 30px;
  padding-right: 30px;
  align-items: flex-end;
}

.creative-grid-content.one h1{
  padding-top: 15%;
}
.creative-grid-content.two{
  align-items: center;
  gap: 26px;
  padding-left: 0;
}
}
@media (max-width: 760px) {
  .creative-grid-content.one {
      gap: 70px;
      flex-direction: column;
      display: flex;
      padding-top: 30px;
      padding-right: 30px;
      align-items: flex-start;
  }
}
@media (max-width: 1400px) {
  .grid-item.three img{
    position:absolute;
    left: 10%;
    top: 9%;
  }
  .grid-content.three3 {
    padding-top: 40%;
  }
}

@media (max-width: 1300px) {
  .how-we-help-section .container {
    padding: 0 4% ;
}
.service-grid{  
  padding-left: 0px ;
}
}
@media (max-width: 1200px) {
  .grid-content.three3 {
    width: 89% !important;
  }
  .service-grid .grid-item{

    padding-left: 35px;
    padding-bottom: 35px;
  }
  .grid-item.four img {
  
    top: 15%;
   
}
}
@media (max-width:991px) {
  .grid-item.one img{
    position:absolute;
    right: 10%;
    top: 20%;
  }
  .grid-item.two img{
    position:absolute;
    right: 10%;
    top: 20%;
  }
  .grid-item.three img{
    position:absolute;
    left: 70% ;
    top: 20%;
  }
  .grid-item.four img{
    position:absolute;
    left: 69% ;
    top: 20%;
  }
  .grid-item.five img{
    position:absolute;
    left: 70% ;
    top: 20%;
  }
  .grid-item.six img{
    position:absolute;
    right: 10%;
    top: 20%;
  }
  .grid-content.three3 {
    padding-top: 9%;
}
.grid-content {
  width: 55% !important;
}
.grid-content.three3 {
  width: 55% !important;
}
.grid-content.four4 {
  width: 55% !important;
}
}
@media (max-width:600px) {
  .grid-item.three img{
    position:absolute;
    left: 55% ;
    top: 20%;
  }
  .grid-item.four img{
    position:absolute;
    left: 55% ;
    top: 20%;
  }
  .grid-item.five img{
    position:absolute;
    left: 55% ;
    top: 20%;
  }
}
@media (max-width:500px) {
  .grid-item.one img{
    position:absolute;
    right: 10%;
    top: 20%;
  }
  .grid-item.two img{
    position:absolute;
    right: 10%;
    top: 20%;
  }
  .grid-item.three img{
    position:absolute;
    left: 55% ;
    top: 20%;
  }
  .grid-item.four img{
    position:absolute;
    left: 55% ;
    top: 20%;
  }
  .grid-item.five img{
    position:absolute;
    left: 55% ;
    top: 20%;
  }
  .grid-item.six img{
    position:absolute;
    right: 10%;
    top: 20%;
  }
  .grid-content {
    padding-top: 60%;
    width: 90% !important;
  }
  .grid-content.one1 {
    padding-top: 60%;
}
.grid-content.two2 {
  padding-top: 60%;
  width: 90% !important;
}
.grid-content.three3 {
  padding-top: 60%;
  width: 90% !important;
}
.grid-content.four4 {
  width: 90% !important;
}
.grid-content.six6 {
  padding-top: 60%;
  width: 90% !important;
}
.grid-item img{
  width: 150px;
}
.service-grid .grid-item {
  padding-left: 20px;
  padding-bottom: 20px;
}
}


@media (max-width:450px) {
  .grid-item.three img {
    position: absolute;
    left: 31%;
    top: 9%;
}
.grid-item.one img {
  position: absolute;
  right: 26%;
    top: 11%;;
}
  .grid-item.two img{
    position:absolute;
    right: 26%;
    top: 11%;
  }

  .grid-item.four img{
    position:absolute;
    left: 31%;
    top: 9%;
  }
  .grid-item.five img{
    position:absolute;
    left: 31%;
    top: 9%;
  }
  .grid-item.six img{
    position:absolute;
    right: 10%;
    top: 20%;
  }
  .grid-content {
    padding-top: 60%;
    width: 90% !important;
  }
  .grid-content.one1 {
    padding-top: 60%;
}
.grid-content.two2 {
  padding-top: 60%;
  width: 90% !important;
}
.grid-content.three3 {
  padding-top: 60%;
  width: 90% !important;
}
.grid-content.four4 {
  width: 90% !important;
}
.grid-content.six6 {
  padding-top: 60%;
  width: 90% !important;
}
.grid-item img{
  width: 150px;
}
.service-grid .grid-item {
  padding-left: 20px;
  padding-bottom: 20px;
}
}
